.mycolor {
    color:rgb(0, 47, 255);
    font-size:25px;
    font-weight: 600; 
}
.mytext {
    background-color: blanchedalmond;
    color:rgb(231, 12, 103);
    padding: 50px;
    margin-top: 20px; 
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.cont {
    /* border: 5px rgb(231, 12, 103) dotted; */
    width: 900px;
    margin:auto;
    display: flex;
    background-color: #cccccc;
    border-radius: 10px;
}
.gorod {
    /* border: 5px rgb(12, 231, 12) solid; */
    width: 350px;
    height: 50px;
    padding: 10px;
}
.menu {
    /* border: 5px rgb(209, 231, 12) solid; */
    width: 350px;
    height: 50px;
    padding: 10px;
}
.menu ul {
    color:  rgba(255, 0, 0, 0.486);
    display: flex;
    padding: 0px;
    margin: 10px
}
.menu ul li{
    padding-right: 30px;
    list-style-type: none;
}
.menu ul li a{
    color: #131313;
    text-decoration: none;
}
.menu ul li a:hover{
    color: #ff0909;
    text-decoration: none;
}
.telefon {
    /* border: 5px rgb(78, 12, 231) solid; */
    width: 350px;
    height: 50px;
    padding: 10px;
}