div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.redlink {
	color:#fc0505;
	font-size: 19px;
}
.redlink:hover {
	color:#fc05aa;
	font-size: 23px;
}